
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mb-2">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 mb-2">
								<img src="@Url.Content("~/Photos/SaveEnergy.jpg")" style='width: 100%' />
							</div>
							<div class="col-md-6 mb-2">
								<center><img src="@Url.Content("~/sasalogo.png")" style='width: 200px; margin-bottom: 10px;' /></center>
								<p style="text-align: justify;" class="mb-2">
									SA Solar Experts is a solar wholesale company based in Johanessburg, China Multiplex that offers the best in quality solar products at an affordable price. We provide the best service possible to our clients, ensuring that their experience with us is seamless and stress-free. Our team of solar experts are highly trained and have years of experience in the industry, which allows us to provide our clients with the best solutions for their specific needs
								</p>
								<p style="text-align: justify" class="mb-2">
									We offer a wide range of products and services, including solar panel installations, solar batteries, and inverters, as well as accessories. We work closely with our clients to understand their energy requirements, and provide them with customized solutions that are tailored to their needs.
								</p>
								<p style="text-align: justify" class="mb-2">
									At Sa Solar Experts, we are dedicated to making the world a better place, one solar installation at a time. Contact us today to learn more about how we can help you make the switch to solar energy.
								</p>
								<p>
									<table>
										<tr>
											<td style="width: 100px; vertical-align: top;">
												<label>
													<i class="fas fa-map-marker"></i> Addres :
												</label>
											</td>
											<td>
												Shop No :58 ,China Multiplex, <br />
												160 Main Reef Road, <br />
												Opp. Makro Crown Mines, <br />
												Johannesburg
											</td>
										</tr>
									</table>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12 mb-2">
				<div class="row d-flex align-items-stretch">
					<div class="col-md-4 mb-2">
						<div class="card h-100">
							<div class="card-body">
								<center>
									<img src="@Url.Content("~/Photos/Vision.png")" style='width: 100px; margin-bottom: 10px;' />
									<h4>Vision</h4>
								</center>
								<hr style="margin-top: 1px;" />
								<p style="text-align: justify;">
									Global climate change and global warming continue to pose an ever-increasing threat to our planet and future of humanity. SA Solar Experts Pty Ltd was established with a vision to empower the use of photovoltaic systems as a 'greener' source of energy. The company aims to achieve this vision by being the best-recommended destination of solar wholesale supplies and the most preferred partner for South African solar installation companies.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-2">
						<div class="card h-100">
							<div class="card-body">
								<center>
									<img src="@Url.Content("~/Photos/Mission.png")" style='width: 80px; margin-bottom: 10px;margin-top: 5px;' />
									<h4>Mission</h4>
								</center>
								<hr style="margin-top: 1px;" />
								<p style="text-align: justify;">
									SA Solar Experts Pty Ltd has a mission to be a reliable, efficient, and well-trusted solar wholesale supplier operating in South Africa. Our duty is to serve South African professional solar installers with quality and durable photovoltaic system products ranging from solar panels, batteries, solar accessories, and inverters. We achieve this mission by...
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-2">
						<div class="card h-100">
							<div class="card-body">
								<center>
									<img src="@Url.Content("~/Photos/Objectives.png")" style='width: 100px; margin-bottom: 10px;margin-top: 5px;' />
									<h4>Objectives</h4>
								</center>
								<hr style="margin-top: 1px;" />
								<p style="text-align: justify;">
									Our priority is to maintain quality as well as keep costs low to offer maximum value for money. We aim to be trusted by society as the best solution for solar technology wholesale supply due to the efficiency, quality, and durability of our products, as well as our professional installation services. SA Solar Experts Pty Ltd has an objective to promote green technologies as a sustainable solution to society's energy consumption.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		
		</div>
	</div>
</section>
